* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

form {
  margin: 1em auto;
  padding: 1em;
  max-width: 400px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

p {
  margin-bottom: 1em;
}

input, button {
  padding: 5px;
}

input {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #666;
}

button {
  min-width: 75px;
}

.formButtons {
  margin: 0;
  text-align: center;
}